@model IEnumerable<CepViewModel>
@{
    ViewData["Title"] = "CEPs";
}

<h2>Listagem de CEPs:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cep</td>
                <td>@item.Logradouro</td>
                <td>@item.Bairro</td>
                <td>@item.Cidade</td>
                <td>@item.Estado</td>
            </tr>
        }
    </tbody>
</table>